.jumbotron {
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
  
  .jumbotron_title {
    font-family: "Tangerine";
    font-size: 6rem !important;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .jumbotron_title img {
    width: 100px;
  }
  .jumbotron_subtitle {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  
  .carouselBanner {
    width: 100%;
    height: 100%;
    background: #00000080;
    position: relative;
  }
  .carouselBanner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000099;
  }
  .carouselImg {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }
  @media only screen and (max-width: 575px) {
    .carouselImg {
      height: 20rem;
    }
  }